@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color-b6fffa: #b6fffa;
  --background-color-98e4ff: #98e4ff;
  --background-color-80b3ff: #80b3ff;
  --background-color-ffffff: #ffffff;

  --border-color-215c71: #215c71;
  --font-color-687eff: #687eff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color-b6fffa);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#wrapper {
  background-color: var(--background-color-98e4ff);
  width: 600px;
  padding: 28px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card h1 {
  color: var(--font-color-687eff);
}

#inputWord {
  width: 100%;
  padding: 18px 40px;
  border-radius: 7px;
  font-size: 20px;
  border: none;
  outline: none;
}

#inputWord:hover {
  border: 1px solid var(--border-color-215c71);
}

#inputWord:focus {
  border: 3px solid orange;
  transition: all 0.3s ease;
}

.card-info {
  display: none;
}

.card-info p {
  margin: 20px 0;
}

.card-info span {
    color: var(--font-color-687eff);
}
